@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "CustomerView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table{
        width:80%;
    }
    th, td{
        padding: 15px;
        text-align: left;
    }

</style>

<h2>CustomerView</h2>

<table>
    <tr>
        <th>Customer</th>
        <th>Discount Rate</th>
    </tr>
    @foreach(var customer in Model)
    {        
        <tr>
            <td>
                @Html.ActionLink(customer.Name, "Edit", "Customer", new { id = customer.Id }, null)          
            </td>
            <td>
                @customer.MembershipType.DiscountRate%
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Add New Customer", "New", "Customer")
